<%- include('navbar/head.ejs') %>

<main>
  <article>
    <!-- 
        - #SERVICE
      -->

    <!-- 
        - #TOP RATED
      -->

    <section class="top-rated">
      <div class="container">
        <h2 class="h2 section-title">Latest Anime Movies</h2>

        <ul class="movies-list">
          <% popular.forEach((info) => { %>
          <li>
            <div class="movie-card">
              <a href="/details/<%- info.id%>">
                <figure class="card-banner">
                  <img src="<%- info.image %>" alt="<%- info.title %>" />
                </figure>
              </a>

              <div class="title-wrapper">
                <a href="/details/<%- info.id%>">
                  <h3 class="card-title"><%- info.title %></h3>
                </a>

                <time>Anime</time>
              </div>

              <div class="card-meta">
                <% let rel = info.released.replace(":", "-") %>
                <div class="badge badge-outline"><%- rel %></div>
              </div>
            </div>
          </li>

          <% }) %>
        </ul>
      </div>
      <p>Advertisement</p>
      <script
        type="text/javascript"
        src="//pl17906651.highperformancecpmgate.com/69/86/8a/69868a749d2faf815d1ceb0e8ed2c489.js"
        class="main-ad"
      ></script>
      <script type="text/javascript">
        atOptions = {
          key: "0f6c7522b6b40573e3a4e1322a24b17e",
          format: "iframe",
          height: 60,
          width: 468,
          params: {},
        };
        document.write(
          "<scr" +
            'ipt type="text/javascript" src="http' +
            (location.protocol === "https:" ? "s" : "") +
            '://www.profitabledisplayformat.com/0f6c7522b6b40573e3a4e1322a24b17e/invoke.js"></scr' +
            "ipt>"
        );
      </script>
    </section>

    <!-- 
        - #TV SERIES
      -->

    <!-- 
        - #CTA
      -->
  </article>
</main>

<%- include('navbar/footer.ejs') %>
